:root{
  --c-brand #23d0d0
  --c-brand-light #1dbdd2

  // 主色调
  --color-main var(--c-brand)
  // 底部栏色调
  --color-border #4dd0e1
  // 引用字体色
  --color-block #4dd0e1
  // 加粗色调
  --color-strong #26c6da
  // 代码样式
  --color-code #26c6da
  // 引用边框色
  --color-border-left #26c6da

  // 代码背景色
  --color-code-bg rgba(77,208,225,.08)
  // 引用背景色
  --color-block-bg rgba(77,208,225,.15)
}

.home-features .container h2{
  line-height 56px
  padding-bottom 0
  &:before{
    content: '';
    position: absolute;
    left: 4px;
    top: 12px;
    width: 26px;
    height: 26px;
    background-image: url(/eletron.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:after{
    display none
  }
}
p.description{
  font-size 1.4rem !important
}
#main-title{
  color var(--c-brand)
  font-weight bold
  letter-spacing 0.2rem
  margin-bottom 10px
}
.nav-bar a.nav-bar-title{
  color var(--c-brand)!important
}

.container
  display:flex;
  justify-content: center;
  align-items: center;

a.sidebar-link-item.active{
}
.container .main {
    max-width: 800px;
}
.container .main .name .clip{
    font-size:40px !important;
}
.container .main p.text {
     font-size:30px !important;
}
.VPHero.has-image .container{
    text-align: center !important
}
.VPHero.has-image .actions {
     justify-content: center !important
}
.container .image {
    display: none;
}
a.VPButton.medium.brand {
    font-weight: 800;
}
a.VPButton.medium.alt{
  font-weight: 520;
}
.item .VPFeature[data-v-549c013f] {
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    padding: 24px;
    height: 100%;
    background-color:fff;
    cursor: pointer;
}
.item .VPFeature .icon[data-v-549c013f] {
    width: 100%;
    height: 48px;
    font-size: 24px;
    background-color:#42b883;
    color:#fff;
}
.item .VPFeature .title[data-v-549c013f] {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    color:#42b883;
}
.item .VPFeature .details {
    color:var(--vp-c-text-2) !important;
}
.VPNavBarMenuGroup .button span:hover{
   color:var(--vp-c-brand)!important;
}
nav.VPNavBarMenu.menu a,button {
    font-size: 15px;
}
nav.VPNavBarMenu.menu div span{
    font-size: 15px;
}
aside.VPSidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}